__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.so
.idea/
.vscode/
*.egg-info/
dist/
build/
*.egg
node_modules/

.env

claude-assistant/
ai_nirvana_env/Lib/site-packages/torch/lib/*.lib
ai_nirvana_env/Lib/site-packages/torch/lib/*.dll
ai_nirvana_env/Library/bin/*.dll